.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-card {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}