<mat-card>Ingrese los datos de la especialidad</mat-card>
<br>
<form class="example-container" [formGroup]="form" #frmPaciente="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre" formControlName="nombre">
        <mat-error *ngIf="this.form.controls['nombre'].invalid">Nombres es requerido</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/especialidad' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
</form>